body {
	padding: 40px;
	margin: 0px;
	background-color: #fff;
}

.wrapper {
	background-color: #444;
	color: #fff;
	border-radius: 30px;
	width: 80%;
}

.boxheader {
	padding: 10px;
	font-size: 150%;
	text-align: center;
}

.boxsidebar {
	color: #fff;
	height: auto;
	width: 10%;
	padding: 20px;
	float: left;
}

.boxcontent {
	color: #fff;
	width: 70%;
	height: auto;
	padding: 10px;
	float: left;
}

.footer {
	padding: 10px;
	clear: both;
	text-align: center;
}

.styleform {
	width: 90%;
	height: auto;
	float: left;
}

.styleform label {
	display: block;
	clear: left;
	float: left;
	width: auto;
	text-align: right;
}

.styleform input {
	display: block;
	margin-left: 20%;
}

.boxsidebar ul {
	text-decoration: none;
	color: #fff;
}

.boxcontent p {
	float: left;
}
